* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Pseudoclase :root -> global, definir variables, semantica de colores, tipos de fuentes, tamaño, etc*/

:root {
    --box-color: #2fc37e;
    --secundary-color: #fff;
    --font-family: 'Poppins', sans-serif;
}

.title {
    font-family: var(--font-family);
    text-align: center;
}

.box {
    background-color: var(--box-color);
    width: 200px;
    height: 200px;
    color: var(--secundary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexbox {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    gap: 1rem;
}

.flex-container {
    display: flex;
    justify-content: flex-end; /* Alinea el contenido a la derecha también se puede utilizar flex-direction: row-reverse; */
    gap: 1rem;
    margin-top: 2rem;
}

.gridbox {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 3 columnas de igual tamaño */
    grid-template-rows: auto; /* Las filas se ajustan automáticamente al contenido */
    gap: 1rem; /* Espacio entre los elementos de la cuadrícula */
    margin-top: 2rem
}

.gridbox .box:nth-child(1) {

    /*
    1 -> primera fila (inicio)
    2 -> donde vas a empezar a colocar la columna
    3 -> donde va a terminar la fila (el numero 2 no se incluye)
    4 -> donde va a terminar la columna (el numero 3 no se incluye)
    */

    grid-area: 1 / 1 / 2 / 3; 

    /* grid-column: 1 / 3;  Coloca el elemento en la primera columna y ocupa dos columnas */
    /* grid-row: 1 / 2; Coloca el elemento en la primera fila y ocupa una fila */
}

.gridbox .box:nth-child(3) {
    grid-area: 1 / 4 / 2 / 6; /* Coloca el elemento en la primera fila y ocupa dos columnas */
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 3 columnas de igual tamaño */
    grid-template-rows: auto; /* Las filas se ajustan automáticamente al contenido */
    gap: 1rem; /* Espacio entre los elementos de la cuadrícula */
    margin-top: 2rem
}


.grid-container .box:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3; /* Coloca el elemento en la primera fila y ocupa dos columnas */
    width: 100%;
}

.grid-container .box:nth-child(3) {
    grid-area: 1 / 4 / 2 / 6; /* Coloca el elemento en la primera fila y ocupa dos columnas */
    width: 100%;
}
