body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0px;
}

.container {
    background: white;
    max-width: 700px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.img-recipe {
    width: 100%;
    position: relative;
    right: 2.6%;
    border-radius: 12px;
}

h1 {
    color: #3e3e3e;
    text-align: left;
    font-size: 2.5em;
    margin: 20px 0;
    font-family: Young serif;

}

h3 {
    color: rgb(147, 14, 38);
}

p {
    color: #000000;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: normal;
}

span {
    color: #000000;
    font-weight: normal;
}

/**se coloco un fondo por eso se hizo aparte */
.prep-time {
    background-color: rgba(231, 109, 221, 0.1);
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 12px;
}


.ingredients, .instructions, .nutrition {
    margin-top: 1.5rem;
    color: #333;
    
}

/** se coloco los puntos en color ocre y en negrita*/
.ingredients, .nutrition, .instructions, .prep-time li::marker {
    color: #b04c2e; 
    font-weight: bold;
}



strong {
    color: #3e3e3e;
}

ul, ol {
    padding-left: 1.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
    color: #000000;
}

.kcal, .gr, .gr2, .gr3 {
    color: rgb(147, 14, 38)
}


/* se le coloco un fondo al footer con un ancho y margenes */
footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9em;
    color: #ffffff;
    background-color: #333;
    padding: 1rem;
}